<div class="container"> 
    <footer class="py-3 my-4 bottom"> 
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li> 
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li> 
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Shop</a></li> 
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li> 
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li> 
        </ul> 
        <p class="text-center text-body-secondary">(c) ATU Sligo 2025. Fraser Woodward - S00271002 - Project</p> 
    </footer> 
</div>
    