<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a class="navbar-brand" href="/">
     
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" ><path d="m280-80 160-300-320-40 480-460h80L520-580l320 40L360-80h-80Zm222-247 161-154-269-34 63-117-160 154 268 33-63 118Zm-22-153Z"/></svg>    
    Smarter Phones
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav nav">
      <li class="nav-item">
        <a class='nav-link {{#if state.home}}active{{/if}}' href='/'>Home</a>
               

      </li>
      <li class="nav-item">
        <a class='nav-link {{#if state.shop}}active{{/if}}' href='/shop'>Shop</a>
      </li>

      <li class="nav-item">
        <a class='nav-link {{#if state.about_us}}active{{/if}}' href='/about_us'>About us</a>
      </li>
      <li class="nav-item">
        <a class='nav-link {{#if state.contact}}active{{/if}}' href='/contact'>Contact</a>
      </li>
    </ul>
  </div>
  {{#if isLoggedIn}}
    <a class="navbar-brand" href="/account">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" ><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/></svg>
    </a>
  {{else}}
    <a href="/login"><button class="btn login-btn">Login</button></a>
  {{/if}}
    
  <a class="navbar-brand" href="/basket">Basket</a>
</nav>



