  <h1 class="display-1 text-center">About Us</h1>

<main class="text-center">
  <h4>Our mission</h4>
  <p>Here at Smarter Phone we aim to bring you the best quality smartphones for the best prices we can.</p>

  <h4>Our Story</h4>
  <p>We have been in the smartphone business right from the start of their surge to popularity in the 2000s</p>

</main>