<h1 class="display-1 text-center">My Account</h1>

<main>
    <p>Hello {{user.firstname}}</p>
    <p>Email: {{user.email}}</p>

    <a href="/logout" id = "logOut"><button type="button" class="btn log-out-button">Log Out</button></a>

</main>