<h1 class="display-1 text-center">Contact Us</h1>

<main>
  <div class="row">
    <div class="col">
        <p>As a Smarter Phone customer you can reach our specialists by phone, chat or email.</p>

        <p>Our customer service staff are here to help you with any problem you have.</p>
    </div>
    <div class="col">
      <h3>Business Hours</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Saturday</td>
            <td>9:30 - 16:00</td>
            
          </tr>
          <tr>
            <td>Monday</td>
            <td>9:30 - 18:30</td>
            
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>9:30 - 18:30</td>
            
          </tr>
          <tr>
            <td>Wednesdsy</td>
            <td>9:30 - 18:30</td>
            
          </tr>
          <tr>
            <td>Thursday</td>
            <td>9:30 - 18:30</td>
            
          </tr>
          <tr>
            <td>Friday</td>
            <td>9:30 - 18:30</td>
            
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <h3>
    Customer Service
  </h3>

  <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Fax</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Customer Service Ireland</th>
      <td>contactus@smarterphones.ie</td>
      <td>+353315411273</td>
      <td>+49-9646-9222-25</td>
    </tr>
    
  </tbody>
</table>

</main>