<main>
    <h1 class="display-1 text-center">Home</h1>
    <h1 class = 'text-center'>This is a college project completed as part of an assignment.</h1>


    <section class="product-grid">
  <h1>Buy Again</h1>

  
    <div class="products">
      {{#each products}}
        {{> _product this}}
      {{/each}}
    </div>

</section>
</main>
