<h1 class="display-1 text-center">Home</h1>

<main>
  <section class="product-grid">
    <h2>Buy Again</h2>

    
      <div class="products">
        {{#each buyAgain}}
          {{> _product this}}
        {{/each}}
      </div>

  </section>

  <section class="product-grid">
    <h2>Highest Rated</h2>

  
    <div class="products">
      {{#each highestRated}}
        {{> _product this}}
      {{/each}}
    </div>

  </section>
</main>
