<main>
    <h1 class="display-1 text-center">Display 1</h1>
    <h1 class = 'text-center'>This is a college project completed as part of an assignment.</h1>


    <section class="product-grid">
  <h1>Our Products</h1>

  {{#if products.length}}
    <div class="products">
      {{#each products}}
        {{> _product this}}
      {{/each}}
    </div>
  {{else}}
    <p>No products found.</p>
  {{/if}}
</section>
</main>
