<h1 class="display-4 text-center">Thank you for your order!</h1>
<main>
    <h4 class="text-center">We are getting to your order right away and you will recive a confirmation email shortly</h4>
</main>